windows_app/__pycache__
windows_app/.claude
windows_app/env
windows_app/profiles.json

firmware/.pio
firmware/.vscode
firmware/env
firmware/.gitignore

pcb/bledeck/bledeck-backups
pcb/bledeck/jlcpcb/gerber
pcb/bledeck/jlcpcb/project.db

assets
docs
.vscode
