windows_app/__pycache__
windows_app/env
windows_app/profiles.json

firmware/.pio
firmware/.vscode
firmware/env
firmware/.gitignore

pcb/bledeck/bledeck-backups
pcb/bledeck/fp-info-cache
pcb/bledeck/bledeck.kicad_prl
pcb/bledeck/jlcpcb/gerber
pcb/bledeck/jlcpcb/project.db

.claude

.vscode
CLAUDE.md